<div class="account-sidebar" {{ %s : header }}>
  <table class="acct-info">
    <tr>
      <td>
        <img src="{{%s:avatar}}" class="acct-pfp" loading="lazy">
      </td>
      <td class="acct-info-right">
        <span class="username">{{%s:username}}</span>
        <span class="acct">@<span class="acct-js-grep">{{%s:acct}}</span></span>
      </td>
    </tr>
  </table>
  <table class="acct-stats">
    <tr>
      <td class="header-btn btn">
        <a href="{{%s:prefix}}/@{{%s:acct}}">
          <span class="btn-header">{{%s:statuses_text}}</span>
          <span class="btn-content">{{%d:statuses_count}}</span>
        </a>
      </td>
      <td class="header-btn btn">
        <a href="{{%s:prefix}}/@{{%s:acct}}/following">
          <span class="btn-header">{{%s:following_text}}</span>
          <span class="btn-content">{{%d:following_count}}</span>
        </a>
      </td>
      <td class="header-btn btn">
        <a href="{{%s:prefix}}/@{{%s:acct}}/followers">
          <span class="btn-header">{{%s:followers_text}}</span>
          <span class="btn-content">{{%d:followers_count}}</span>
        </a>
      </td>
    </tr>
  </table>
</div>

