<table class="account-stub">
  <tr>
    <td class="pfp-td">
      <a href="{{%s:prefix}}/@{{%s:acct}}"><img src="{{%s:avatar}}"></a>
    </td>
    <td class="account-stub-info-wrapper">
      <div class="account-stub-info">
        <a href="{{%s:prefix}}/@{{%s:acct}}">
          <div class="account-stub-top">
            <span class="username">{{%s:display_name}}</span>
          </div>
          <div class="account-stub-bottom">
            <span class="instance-info">@{{%s:full_acct}}</span>
          </div>
        </a>
      </div>
    </td>
  </tr>
</table>
