<div class="account-sidebar">
  <div class="acct-info">
    <img src="{{%s:avatar}}" class="acct-pfp">
    <span class="username">{{%s:username}}</span>
  </div>
  <table class="acct-stats">
    <tr>
      <td class="header-btn btn">
        <span class="btn-header">{{%s:statuses_text}}</span>
        <span class="btn-content">{{%d:statuses_count}}</span>
      </td>
      <td class="header-btn btn">
        <span class="btn-header">{{%s:following_text}}</span>
        <span class="btn-content">{{%d:following_count}}</span>
      </td>
      <td class="header-btn btn">
        <span class="btn-header">{{%s:followers_text}}</span>
        <span class="btn-content">{{%d:followers_count}}</span>
      </td>
    </tr>
  </table>
</div>

