<div class="menubar">
  <a href="{{%s:prefix}}/blocked">{{ %s : blocked_str }}</a>
  <span class="bullet-separate">&bull;</span>
  <a href="{{%s:prefix}}/muted">{{ %s : muted_str }}</a>
  <span class="bullet-separate">&bull;</span>
  <a href="{{%s:prefix}}/favourites">{{ %s : favourited_str }}</a>
</div>
