<div class="attachment-container attachment-audio">
  <!-- Here even if not sensitive -->
  <div class="sensitive-placeholder {{%s:sensitive}}"></div>
  <audio width="256" controls preload="metadata">
    <source src="{{%s:src}}">
  </video>
</div>
