<div class="page-header">
  <span class="page-header-button">&larr;</span>
  <img src="{{ %s : avatar }}" class="page-header-image">
  <a href="{{ %s : prefix }}/@{{%s:acct}}" class="page-header-title">{{ %s : acct }}</a>
</div>
<div class="chat-view">
  {{ %s : messages }}
  <table class="chatbox ui-table">
    <tr>
      <td>
        <textarea></textarea>
      </td>
    </tr>
  </table>
</div>
