<a href="{{%s:prefix}}/chats/{{%s:id}}#{{%s:message_id}}">
  <table class="contact">
    <tr>
      <td class="pfp-td">
        <img src="{{%s:avatar}}">
      </td>
      <td class="contact-right-td">
        <div class="contact-right">
          <div class="contact-info">
            <span class="username" title="{{%s:acct}}">{{%s:display_name}}</span>
          </div>
          <div class="last-message">
            <span class="chat-msg-preview">{{ %s : last_message }}</span>
          </div>
        </div>
      </td>
    </tr>
  </table>
</a>
