<a href="{{%s:prefix}}/chats/{{%s:id}}">
  <table class="account-stub">
    <tr>
      <td class="pfp-td">
        <img src="{{%s:avatar}}">
      </td>
      <td class="account-stub-info-wrapper">
        <div class="account-stub-info">
          <div class="account-stub-top">
            <span class="username">{{%s:display_name}}</span>
            <span class="instance-info">@{{%s:acct}}</span>
          </div>
          <div class="account-stub-bottom">
            <span class="chat-msg-preview">{{ %s : last_message }}</span>
          </div>
        </div>
      </td>
    </tr>
  </table>
</a>
