<ul class="sidebar-config">
  <li><a class="sidebarbtn-sub {{%s:general_active}}" href="{{%s:prefix}}/config/general">{{%s:general}}</a></li>
  <li><a class="sidebarbtn-sub {{%s:appearance_active}}" href="{{%s:prefix}}/config/appearance">{{%s:appearance}}</a></li>
  <li><a class="sidebarbtn-sub {{%s:account_active}}" href="{{%s:prefix}}/config/account">{{%s:account}}</a></li>
</ul>
