<!DOCTYPE html>
<html>
  <head>
    <title>Embed</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/{{ %s : stylesheet }}.css">
    <style>
      html, body
      {
      margin: 0;
      padding: 0;
      background-color: unset;
      }
    </style>
  </head>
  <body>
    <div class="embed">
      {{ %s : embed }}
    </div>
  </body>
</html>
