<a href="{{%s:prefix}}/status/{{%s:status_id}}/react/{{%s:emoji}}" class="emoji-react-box {{%s:custom_emoji}} btn btn-alt {{%s:emoji_active}}"><span class="emoji">{{%s:emoji_display}}</span> <span class="emoji-num">{{%u:emoji_count}}<span></a>
