<a href="{{%s:prefix}}/status/{{%s:status_id}}/react/{{%s:emoji}}" class="emoji-react-box btn btn-alt {{%s:emoji_active}}"><span class="emoji">{{%s:emoji}}</span> <span class="emoji-num">{{%u:emoji_count}}<span></a>
