<div class="emoji-picker">
  <table class="tabs ui-table">
    <tr>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="0">
          <input class="tab-btn btn btn-alt {{%s:cat_smileys}}" type="submit" value="😃">
        </form>
      </td>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="{{%d:animals}}">
          <input class="tab-btn btn btn-alt {{%s:cat_animals}}" type="submit" value="🐻">
        </form>
      </td>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="{{%d:food}}">
          <input class="tab-btn btn btn-alt {{%s:cat_food}}" type="submit" value="🍔">
        </form>
      </td>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="{{%d:travel}}">
          <input class="tab-btn btn btn-alt {{%s:cat_travel}}" type="submit" value="🚀">
        </form>
      </td>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="{{%d:activities}}">
          <input class="tab-btn btn btn-alt {{%s:cat_activities}}" type="submit" value="⚽">
        </form>
      </td>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="{{%d:objects}}">
          <input class="tab-btn btn btn-alt {{%s:cat_objects}}" type="submit" value="🔧">
        </form>
      </td>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="{{%d:symbols}}">
          <input class="tab-btn btn btn-alt {{%s:cat_symbols}}" type="submit" value="🔢">
        </form>
      </td>
      <td>
        <form action="#{{%s:status_id}}" method="post">
          <input type="hidden" name="emojoindex" value="{{%d:flags}}">
          <input class="tab-btn btn btn-alt {{%s:cat_flags}}" type="submit" value="🎌">
        </form>
      </td>
    </tr>
  </table>

  
  <div class="emoji-picker-emojos">
    {{%s:emojis}}
  </div>
  
  <table class="navigation ui-table">
    <tr>
      <td class="nav-prev btn">
        <form action="#{{%s:status_id}}" method="post">
          <label class="pointer">
            <input type="hidden" name="emojoindex" value="{{%u:index_previous}}">
            <span class="nav-btn {{%s:previous_enabled}}">Previous</span>
            <input type="submit" class="hidden">
          </label>
        </form>
      </td>
      <td class="nav-next btn">
        <form action="#{{%s:status_id}}" method="post">
          <label class="pointer">
            <input type="hidden" name="emojoindex" value="{{%u:index_next}}">
            <span class="nav-btn">Next</span>
            <input type="submit" class="hidden">
          </label>
        </form>
      </td>
    </tr>
  </table>
</div>
