<div class="status-interact">
  <table class="ui-table">
    <tr>
      <td>
        {{ %s : reply_btn }}
      </td>
      <td>
        <form action="{{%s:prefix}}/status/{{%s:status_id}}/interact" method="post">
          <input class="itype" type="hidden" name="itype" value="{{%s:unrepeat}}repeat">
          <label class="repeat-btn pointer statbtn">
            {{ %s : repeat_btn }}
            <span class="count">{{%s:repeats_count}}</span>
            <input class="hidden" type="submit" value="{{%s:repeat_text}}">
          </label>
        </form>
      </td>
      <td>
        <form action="{{%s:prefix}}/status/{{%s:status_id}}/interact" method="post">
          <input class="itype" type="hidden" name="itype" value="{{%s:unfavourite}}like">
          <label class="pointer statbtn like-btn">
            {{ %s : like_btn }}
            <span class="count">{{%s:favourites_count}}</span>
            <input class="hidden" type="submit" value="{{%s:favourites_text}}">
          </label>
        </form>
      </td>
      {{%s:likeboost_btn}}
      {{%s:reactions_btn}}
      <td>
        <a target="_parent" href="{{%s:prefix}}/status/{{%s:status_id}}#{{%s:status_id}}" class="pointer statbtn view-btn">
          {{ %s : expand_btn }}
        </a>
      </td>
      <td>
        <a href="#{{%s:status_id}}" class="time">{{%s:rel_time}}</a>
      </td>
    </tr>
  </table>
</div>
