<div class="lists-view">
  <h1 class="lists-view-header">Lists</h1>

  <div class="lists-view-container">
    <ul class="large-list center">
      {{%s:lists}}
    </ul>

    <ul class="large-list center create-list">
      <form action="{{%s:prefix}}/lists" method="post">
        <li>
          <input type="text" name="title" class="create-list-form"><input type="submit" value="Create list" class="create-list-btn btn">
        </li>
      </form>
    </ul>
  </div>
</div>
