<li>
  <form action="{{%s:prefix}}/status/{{%s:status_id}}/interact" method="post">
    <input type="hidden" name="itype" value="{{%s:itype}}">
    <input type="submit" class="btn-menu" value="{{%s:text}}">
  </form>
</li>
