<table class="navigation ui-table">
  <tr>
    <td class="nav-up btn">
      <form action="" method="post">
        <label class="pointer">
          <span class="nav-btn">Up</span>
          <input type="submit" class="hidden">
        </label>
      </form>
    </td>
    <td class="nav-prev btn">
      <form action="" method="post">
        <label class="pointer">
          <input type="hidden" name="start_id" value="{{%s:start_id}}">
          <input type="hidden" name="min_id" value="{{%s:min_id}}">
          <span class="nav-btn {{%s:prev_active}}">Previous</span>
          {{%s:prev_submit}}
        </label>
      </form>
    </td>
    <td class="nav-next btn">
      <form action="" method="post">
        <label class="pointer">
          <input type="hidden" name="start_id" value="{{%s:start_id}}">
          <input type="hidden" name="max_id" value="{{%s:max_id}}">
          <span class="nav-btn">Next</span>
          <input type="submit" class="hidden">
        </label>
      </form>
    </td>
  </tr>
</table>
