<table class="notification-compact notification ui-table">
  <tr>
    <td class="pfp-compact-td">
      <img src="{{%s:avatar}}">
    </td>
    <td>
      <div class="notification-info">
        <span class="notification-text-group{{%s:idk}}">
          <span title="{{%s:acct}}" class="username">{{%s:display_name}}</span>
          <span class="action">{{%s:action}}</span>
          {{%s:action_item}}
        </span> {{%s:idk2}}
      </div>
      <div class="notification-content">{{%s:content}}</div>
      <div class="notification-stats">{{%s:stats}}</div>
    </td>
  </tr>
</table>
