<div class="notification-info">
  <img src="{{%s:avatar}}" loading="lazy" class="avatar">
  <div class="notification-user">
    <span class="notification-text-group-with-icon">
      <span class="username">{{%s:username}}</span>
      <span class="action">{{%s:action}}</span>
    </span>
    {{%s:action_item}} <!-- If any -->
  </div>
</div>
