<table class="notification-compact notification ui-table">
  <tr>
    <td class="pfp-compact-td">
      <img src="{{%s:avatar}}">
    </td>
    <td>
      <div class="notification-info">
        <span class="notification-text-group{{%s:has_icon}}">
          <span title="{{%s:acct}}" class="username">{{%s:display_name}}</span>
          <span class="action">{{%s:action}}</span>
        </span> {{%s:notif_svg}}
      </div>
      <div class="notification-content {{%s:is_status}}">{{%s:content}}</div>
      <div class="notification-stats">{{%s:stats}}</div>
    </td>
  </tr>
</table>
