<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notifications embed</title>
    <link rel="stylesheet" type="text/css" href="/treebird.css">
    {{ %s : theme_str }}
    <style>
      html, body
      {
          background-color: unset;
          scrollbar-color: #808080 #eaecf0;
          scrollbar-width: thin;
      }
    </style>
  </head>
  <body>
    <div class="sidebar-embed-container">
      {{%s:navigation_box}}
      <div class="sidebar-embed-notifs">
        {{%s:notifications}}
      </div>
    </div>
  </body>
</html>
