<div class="notification-info">
  <img src="{{%s:avatar}}">
  <div class="notification-user">
    <span class="notification-text-group-with-icon">
      <span class="username">{{%s:username}}</span>
      <span class="action">{{%s:action}}</span>
      {{%s:action_item}} <!-- If any -->
    </span>
    {{%s:content}}
  </div>
</div>
