<div class="sidebar-login">
  <form action="{{%s:prefix}}/login" method="post">
    <div class="form-group">
      <label for="login-username">{{%s:username}}: </label>
      <input type="text" id="login-username" name="username">
    </div>
    <div class="form-group">
      <label for="login-password">{{%s:password}}: </label>
      <input type="password" id="login-password" name="password"><br>
    </div>
    <div class="form-group">
      <input class="btn" type="submit" value="{{%s:login}}">
    </div>
  </form>
</div>
