        <a target="_parent" href="{{%s:prefix}}/status/{{%s:status_id}}/reply#{{%s:status_id}}" class="pointer statbtn reply-btn">
            {{ %s : reply_btn }}
            <span class="count">{{%s:reply_count}}</span>
        </a>
        