<div id="scrobble-{{%s:scrobble_id}}" class="scrobble ui-table">
  <table class="scrobblist-info">
    <td class="pfp-compact-td">
      <img class="pfp-img-scrobble" src="{{%s:avatar}}">
    </td>
    <td class="scrobblist-info-text">
      <span class="username">{{%s:username}}</span> <span class="scrobblist-activity">{{%s:activity}}</span>
    </td>      
  </table>
  <table class="scrobbles">
    <tr class="scrobble-title">
      <td class="scrobble-key">{{%s:title_key}}</td>
      <td class="scrobble-value">{{%s:title}}</td>
    </tr>
    <tr class="scrobble-artist">
      <td class="scrobble-key">{{%s:artist_key}}</td>
      <td class="scrobble-value">{{%s:artist}}</td>
    </tr>
    <tr class="scrobble-album">
      <td class="scrobble-key">{{%s:album_key}}</td>
      <td class="scrobble-value">{{%s:album}}</td>
    </tr>
    <tr class="scrobble-length">
      <td class="scrobble-key">{{%s:length_key}}</td>
      <td class="scrobble-value">{{%d:length}}</td>
    </tr>
  </table>
</div>
