<div class="status-interactions">
  <div class="status-interactions-labels">
    <!-- Favourites count -->
    {{%s:favourites_count}}
    <!-- Reblog count -->
    {{%s:reblogs_count}}
  </div>
  <div class="status-interactions-pfps">
    {{%s:users}}
  </div>
</div>
