<table id="{{%s:status_id}}" class="status {{%s:focused}} ui-table">
  {{ %s : notif_info }}
  <tr>
    <td class="pfp-td {{%s:is_cat}} {{%s:is_bun}}">
      <img src="{{%s:avatar}}">
    </td>
    <td class="status-info">
      <div class="poster-stats">
        <span class="username">{{%s:username}}</span>
        <a class="instance-info" href="{{%s:prefix}}/@{{%s:acct}}">{{%s:acct}}</a>
        <span class="alignend">
          <div class="menu-container status-visibility">
            {{%s:visibility}}
            <div class="menu">
              <ul>
                <li>
                  <form action="{{%s:prefix}}/status/{{%s:status_id}}/interact" method="post">
                    <input type="hidden" name="itype" value="{{%s:unmute}}mute">
                    <input type="submit" class="btn-menu" value="{{%s:unmute_btn}}">
                  </form>
                </li>
                <li>
                  <form action="{{%s:prefix}}/status/{{%s:status_id}}/interact" method="post">
                    <input type="hidden" name="itype" value="{{%s:unpin}}pin">
                    <input type="submit" class="btn-menu" value="{{%s:unpin_btn}}">
                  </form>
                </li>
                <li>
                  <form action="{{%s:prefix}}/status/{{%s:status_id}/interact" method="post">
                    <input type="hidden" name="itype" value="{{%s:unbookmark}}bookmark">
                    <input type="submit" class="btn-menu" value="{{%s:unbookmark_btn}}">
                  </form>
                </li>
                {{%s:delete_status}}
              </ul>
            </div>
          </div>
        </span>
      </div>
      {{%s:in_reply_to_str}}
      <span class="status-content">
        {{%s:status_content}}
      </span>
      {{%s:attachments}}
      {{%s:interactions}}
      {{%s:emoji_reactions}}
      {{%s:interaction_btns}}
    </td>
  </tr>
</table>
